pkgbase = eint
	pkgdesc = Numerically integrate data employing the extrapolation method.
	pkgver = v0.0.1
	pkgrel = 1
	url = https://github.com/irukoa/EINT
	arch = x86_64
	license = GPLv3
	makedepends = git
	makedepends = gcc-fortran
	source = git+https://github.com/irukoa/EINT
	md5sums = SKIP

pkgname = eint
